@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

/* Stars 
------------------------------------- Referenced from Keith Clark */

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

/*end of stars*/
/*
#hexagon {
    width: 200px;
    height: 115.47px;
    background: rgb(252, 152, 39);
    position: relative;
    float: left;
    margin-left: 137px;
    margin-right: 137px;
    margin-top: 50px;
    display: flex;
  }
  #hexagon::before {
    content: "";
    position: absolute;
    top: -57.735px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 57.735px solid rgb(252, 152, 39);
    display: flex;
  }
  #hexagon::after {
    content: "";
    position: absolute;
    bottom: -57.735px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 57.735px solid rgb(252, 152, 39);
    display: flex;
  }
  .text{
    position: absolute;
    text-align: center;
  }

*/
body{
    background-image: url(spaceImage.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: "venus rising";
    src: url('file:/venus rising rg.ttf') format('truetype');
    color: white;
    text-align: center;
    font-size: 69px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}
h2{
    font-family: "venus rising";
    src: url('file:/venus rising rg.ttf') format('truetype');
    color: white;
    text-align: center;
    font-size: 45px;padding-bottom: 10px;
}
p{
    font-family: "spaceship2100";
    src: url('file:/spaceship2100.ttf') format('truetype');
    color: white;
    font-size: 23px;
}

.container{
  width:100vw;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.123);
  display: flex;
  align-content: space-around;
  position: absolute;
}
.item{
  align-items: center;
  width: 23vh;
  height: 23vh;
  background-color: rgba(175, 232, 255, 0.493);
  display: flex;
  margin: 30px;
  align-content: space-around;
  position: center;
}
.item p{
  text-align: center;
}
.item a{
  position: absolute;
}